@import url(https://fonts.googleapis.com/css?family=Lato:100,900);

* {
	box-sizing: border-box;
	
}
html {
  background: 
    url("/img/portfolio-4.png") no-repeat left top scroll rgb(0,101,255);
	height: 100%;
	width: 100%;
}

body {
	color: #fff;
  height: 100%;
	width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Lato', sans-serif, "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 60px;
	font-weight: 900;
  margin-bottom: 0;
	
	text-transform: uppercase;
}

p  {

  font-family: 'Lato', sans-serif, "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 60px;
  letter-spacing: 1px;

  margin-top: 1%;
  text-transform: uppercase;
}

a:hover,
a:focus {
  color: #0dd;
}


.bold-font {
  font-weight: 900;
}

header {
	align-items: center;
	-webkit-align-items: center;
	
	display: flex;
	display: -webkit-flex;
	flex-flow: row nowrap;
	-webkit-flex-flow: row nowrap;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	height: 100%;
}


#name {
  align-items: center;
  webkit-align-items: center;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  display: flex;
  justify-content: flex-start;
  webkit-justify-content: flex-start;
  width: 120%;
  z-index: 1;
}

.name-content {
  color: #ccc;
}

.left-element {
  margin-top: 30%;
}


.right-element {

margin-right: 10%;
}


/* mobile specifics */

@media (max-width: 400px) {

  html {
    background-size: cover;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
  font-family: 'Lato', sans-serif, "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 0;
  
  text-transform: uppercase;
}
  p {
    font-size: 20px;
    font-weight: 100;
  }

  header {
    display: flex;
    display: -webkit-flex;
    flex-flow: column nowrap;
    -webkit-flex-flow: column nowrap;
    overflow: hidden;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }

  #name {
    padding-bottom: 80%;
  }
  
  .right-element {
    display: none;
    visibility: hidden;
  }

  .btn {
    font-size: 20px;
  }
}

@media (max-width: 700px) {

  html {
    background-size: cover;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
  font-family: 'Lato', sans-serif, "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 0;
  
  text-transform: uppercase;
}
  p {
    font-size: 20px;
    font-weight: 100;
  }

  header {
    display: flex;
    display: -webkit-flex;
    flex-flow: column nowrap;
    -webkit-flex-flow: column nowrap;
    overflow: hidden;
    -webkit-justify-content: flex-center;
    justify-content: flex-center;
  }

  #name {
    padding-bottom: 80%;
  }
  
  .right-element {
    display: none;
    visibility: hidden;
  }

  .btn {
    font-size: 20px;
  }

}

/* end of mobile specifics */

.content-section {
	
  padding-left: 10%;
	height: 100%;
}

.flex-column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;
}

.flex-row {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}

@media (min-width: 701px) {
  .btn {
    font-size: 50px;
  }

}
.btn {
    border-radius: 0;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Lato',"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 100;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }


.btn-default {
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;

}

.btn-position {
  margin-right: 50%;
  margin-top: 10%;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #fff;
    outline: 0;
    color: rgb(0, 101, 255);
    background-color: #fff;
}


.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 100%!important;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

.reverse-bg-color {
  background-color: #fff;
  color: rgb(0, 101, 255);
}


.icon-margins {
  margin-top: 5%;
  
}

.i-white {
  color: #fff;
}

/* cloud icons */

.icon {
  color: rgb(0, 101, 255);
  position: relative;
  display: inline-block;
  width: 12rem;
  height: 10rem;
}

.cloud {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 3.6875rem;
  height: 3.6875rem;
  margin: -1.84375rem;
  background: currentColor;
  border-radius: 50%;
  box-shadow: -2.1875rem 0.6875rem 0 -0.6875rem, 2.0625rem 0.9375rem 0 -0.9375rem, 0 0 0 0.375rem #fff, -2.1875rem 0.6875rem 0 -0.3125rem #fff, 2.0625rem 0.9375rem 0 -0.5625rem #fff;
}

.cloud:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -0.5rem;
  display: block;
  width: 4.5625rem;
  height: 1rem;
  background: currentColor;
  box-shadow: 0 0.375rem #fff;
}

.cloud:nth-child(2) {
  z-index: 0;
  background: #fff;
  box-shadow: -2.1875rem 0.6875rem 0 -0.6875rem #fff, 2.0625rem 0.9375rem 0 -0.9375rem #fff, 0 0 0 0.375rem #fff, -2.1875rem 0.6875rem 0 -0.3125rem #fff, 2.0625rem 0.9375rem 0 -0.5625rem #fff;
  opacity: 0.3;
  -webkit-transform: scale(0.5) translate(6rem, -3rem);
  -ms-transform: scale(0.5) translate(6rem, -3rem);
  transform: scale(0.5) translate(6rem, -3rem);
  -webkit-animation: cloud 4s linear infinite;
  animation: cloud 4s linear infinite;
}

.cloud:nth-child(2):after {
  background: #fff;
}


/* cloud animation icons */

@-webkit-keyframes cloud {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.5) translate(-6rem, -3rem);
    transform: scale(0.5) translate(-6rem, -3rem);
  }
}

@keyframes cloud {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.5) translate(-6rem, -3rem);
    transform: scale(0.5) translate(-6rem, -3rem);
  }
}